
body {
    background-color: rgb(244,187,211);
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

/* Styling for the question block */ 
.container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    border: 10px solid rgba(254, 93, 159, 0.8);
    animation: pinkBorderFlash 1.5s infinite;
    width: 600px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top:15%;
    padding: 10px 20px 10px 10px;
    background: rgb(255, 225, 238);
    color: rgb(254, 93, 159);
}

/*styling for images-buttons */
.button1 {
    width: 150px;
    cursor: pointer;
    padding: 20px;
}
.button2 {
    width: 100px;
    cursor: pointer;
    margin-bottom: 3%;
    padding: 20px;
    justify-self: center;
}
.button3 {
    width: 150px;
    cursor: pointer;
    margin-bottom: 8.6%;
}
.button4 {
    width: 50px; 
     grid-row: 1;
    grid-column: 1;
    justify-self: start;  
    align-self: start;
    cursor: pointer;
}
    

.game {
    display: grid;
    grid-template-columns: auto auto;
    width: 60%;
    justify-content: center;
    justify-items: center;
}

/* Styling for the answers options */
.Ans1 {
    display: grid;
    margin: 30px;
    width: 200px;
    font-size:24px;
    color: rgb(251, 50, 134);
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 171, 206);
    text-align: center;
}
.container input{
    position: absolute;
    display: inline-block;
    opacity: 0%;
    width: 220px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
}
.container label{
    font-size: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 15px 0 15px 0;
    justify-self: center;
    text-align: center;
}
/*animation when hover over the option */
.radio-style:hover + .label-style {
    animation: pinkRainbow 1.2s infinite;
    background:  rgb(195, 108, 147);
    color: rgb(121, 27, 66);
    
}
/*animation when choose the option */
.radio-style:checked + .label-style {
    background:  rgb(195, 108, 147);
    color: rgb(121, 27, 66);
}

#skipCount {
    padding-right: 20px;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}


/*  Styling for the question text*/
.QuestionNumber {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.results {
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    font-size: 25px;
    text-align: center;
    row-gap: 15px;
    font-weight: bold;
}
.answers {
    display: grid;
    grid-template-rows: auto;
    padding: 10px;
    width: 500px;
    row-gap: 20px;
    text-align: start;
}
.correct {
    color: rgb(41, 130, 58)
}
.list li{
    padding-top: 20px;
    font-size: 20px;
}

@keyframes pinkRainbow {
  0%   { background-color: #ff4fa8; }
  25%  { background-color: #ff6fbb; }
  50%  { background-color: #ff8acd; }
  75%  { background-color: #ffb0df; }
  100% { background-color: #ff4fa8; }
}

@keyframes pinkBorderFlash {
  0%   { border-color: #ff4fa8; }
  25%  { border-color: #ff6fbb; }
  50%  { border-color: #ff8acd; }
  75%  { border-color: #ffb0df; }
  100% { border-color: #ff4fa8; }
}
.left {
    text-align: left; 
    margin-top: 3%;
  
    
}
