
body {
    background-color: rgb(244,187,211);
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 50px;
}
/* Styling for the button */
button {
    font-size: 20px;
    margin-bottom:5%;
    background-color: pink;
    color: white;
    border-radius: 45px 25px;
    padding-left: 3%;
    padding-right: 3%; 
    padding-top: 2%;
    padding-bottom: 2%;

}

/* Animation to when you hover over the button */
.button:hover {
   
  background-color: rgb(141, 85, 120);
  color: white;

}

/* Styling for the question block */ 
.container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    border: 5px solid rgba(254, 93, 159, 0.8);
    width: 400px;
    border-radius: 30px 30px;
    font-family: Arial, sans-serif;
    margin: auto;
    width: 600px;
    margin-top:15%;
    padding: 10px;
    background: rgb(255, 225, 238);
    color: rgb(254, 93, 159);
}

.game {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding: 20px;
    width: 60%;
}
/* Styling for the answers */
.Ans1 {
    display: block;
    margin: 32px 0;   
    font-size:24px;
    font-style: italic;
    color: palevioletred;
    font-weight: bold;
}

/*  Styling for the question */
.QuestionNumber {
    font-size: 24px;
    font-weight: bold;
}
.results {
    display: grid;
    grid-template-rows: auto;
    font-size: 25px;
    text-align: center;
    row-gap: 15px;
    font-weight: bold;
}
.answers {
    display: grid;
    grid-template-rows: auto;
    padding: 15px;
    width: 500px;
    font-size: 20px;
    row-gap: 20px;
}
